extends layout

block content
	header
		.front-container
			h1= title
			form.col-sm-offset-3#submit-form(method='POST', action='/')
				.form-group
					.col-sm-9
						input.form-control(name='url', id='url', placeholder='Enter the URL of a news article')
				.form-group
					.col-sm-9.button-holder
						button.btn.styled-button#signupButton(type='submit') 
							b tl;dr me
	section#about
		h2 As humans, we want to make everything <em>faster</em>.
		br
		p In a highly digitalized world, nobody has time for anything anymore. We are always trying to go faster, to make more use of our time, and the news is no exception. The world is full of information. We want to do our best to carefully pick and choose the information most pertinent to us without having to dig through mounds and mounds of relative irrelevance. 
		p When I was in middle school, one of my language arts teachers told me that, in a paragraph, the most important information usually comes in the first sentence. Although I'm somewhat ashamed to admit it, this tactic got me through some of my required reading in school, especially when I had limited time to go through all of it. This is exactly how TL;DR works. It's simple - it takes a news article and gives you the first sentence of each paragraph. Can I guarantee that this abridged summary will be entirely accurate? Of course not, but it's worth a shot. So go ahead, try it.
		p#feedback Feedback | Questions? Please feel free to e-mail me at chrisxwan@gmail.com 

