extends layout

block content
	header
		.front-container
			h1= title
			form.col-sm-offset-3#submit-form(method='POST', action='/')
				.form-group
					.col-sm-9
						input.form-control(name='url', id='url', placeholder='Enter the URL of a news article')
				.form-group
					.col-sm-9.button-holder
						button.btn.styled-button#signupButton(type='submit') 
							b tl;dr me
